@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@400..900&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Sekuya&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Montserrat", sans-serif;
    /* overflow: hidden; */
}

.body {
    height: 100vh;
    background-image: url('../images/jollibeeBg2.jpg');
    /* background-image: url('../images/orderBg2.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* background-image: none;
    background: transparent; */
}

/* 1st flow */

main {
    position: relative;
    
}

main .start-button {
    position: absolute;
    right: 20rem;
    top: 25rem;
    padding: 13px 40px;
    background: linear-gradient(to bottom, #f5c542, #d99b12);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 28px;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow:
        inset 0 -4px 0 rgba(0, 0, 0, 0.25),
        0 6px 10px rgba(0, 0, 0, 0.3);
    font-size: 23px;
    cursor: pointer;
    display: block;
}

main .start-button:hover {
    transform: scale(1.1);
    transition: all .4s ease-out;
}

/* 2nd flow */

main .mechanics{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    display: none;
    overflow: hidden;
}

main .image-mechanics{
    margin-left: 3rem;
}

main .image-mechanics img{
    width: 510px;
    height: 510px;
}

main .mechanics .text-mechanics{
    color: white;
    margin-right: 3rem;
}

main .mechanics .text-mechanics h2{
    font-size: 50px;
}

main .mechanics .text-mechanics p{
    font-size: 23px;
    width: 580px;
    text-align: justify;
    line-height: 38px;
    margin-top: 1.5rem;
    font-style: italic;
}

main .mechanics .text-mechanics .mechanics-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

main .mechanics .text-mechanics .play-button{
    padding: 13px 40px;
    background: linear-gradient(to bottom, #f5c542, #d99b12);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 28px;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow:
        inset 0 -4px 0 rgba(0, 0, 0, 0.25),
        0 6px 10px rgba(0, 0, 0, 0.3);
    font-size: 23px;
    font-size: 23px;
    cursor: pointer;
}

main .mechanics .text-mechanics .play-button:hover{
    transform: scale(1.1);
    transition: all .4s ease-out;
}

/* 3rd flow */

main .get-orders button{
    position: absolute;
    right: 22rem;
    top: 13rem;
    padding: 15px 30px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #ff0000;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border: none;
    font-weight: bold;
    border-radius: 7px;
    font-size: 15px;
    position: absolute;
    display: none;
}

main .get-orders button:hover{
    text-decoration: underline;
}

main .cashier{
    display: none;
}

main .cashier .order{
    /* background-color: white; */
    width: 150px;
    height: 150px;
    color: black;
    text-transform: uppercase;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 18rem;
    top: 9.5rem;
    transform: rotate(1deg);
}

main .cashier .prepare-order{
    padding: 15px 30px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #ff0000;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border: none;
    font-weight: bold;
    border-radius: 7px;
    font-size: 15px;
    position: absolute;
    right: 5rem;
    top: 21rem;
}

main .cashier .prepare-order:hover{
    text-decoration: underline;
}

/* 4th flow */

main .menu{
    width: 100%;
    height: 100%;
    background-color: #f5c542;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* display: flex; */
}

main .menu .food-menu{
    width: 100%;
    padding: 1.5rem;
    /* width: 430px; */
    /* height: 210px; */
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main .menu .food-menu .jollibee-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.7rem;
}

main .menu .food-menu .jollibee-menu img{
    width: 120px;
    height: 120px;
    cursor: pointer;
}

/* main .menu .food-menu .jollibee-menu .jollibee-image{
    width: 110px;
    height: 110px;
    border: 1px solid black;
} */

main .menu .food-menu .jollibee-menu p{
    font-weight: 600;
}

main .title-order{
    background-color: #6D4140;
    padding: 0.8rem;
    color: white;
    text-transform: uppercase;
    display: none;
    z-index: -1;
}

/* bucket chicken questions */

main .question-bucket-chicken{
    position: absolute;
    width: 590px;
    /* height: 400px; */
    background-color: white;
    top: 110%;
    left: 52%;
    transform: translate(-50%,-50%);
    border: 10px solid #f5c542;
    padding: 3rem;
    display: none;
    z-index: 999;
}

main .question-bucket-chicken h4{
    font-size: 25px;
    line-height: 35px;
    font-weight: 500;
    font-style: italic;
}

main .question-bucket-chicken p{
    margin-top: 4rem;
    font-size: 25px;
    font-weight: 500;
    font-style: italic;
    line-height: 40px;
}

main .question-bucket-chicken .group-answers{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

main .question-bucket-chicken .group-answers button{
    width: 40%;
    padding: 15px 0;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    background-color: #ff0000;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

main .question-bucket-chicken .start-answer-group{
    position: absolute;
    left: -26.5%;
    top: 20%;
}

main .question-bucket-chicken .start-answer-group button{
    padding: 10px 1.5rem;
    font-size: 40px;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
}

main .question-bucket-chicken .exit-button{
    position: absolute;
    right: 25px;
    top: 10px;
}

main .question-bucket-chicken .exit-button button{
    font-size: 40px;
    background: none;
    border: none;
    cursor: pointer;
}

/* Fries */

main .question-fries{
    position: absolute;
    width: 590px;
    /* height: 400px; */
    background-color: white;
    top: 110%;
    left: 52%;
    transform: translate(-50%,-50%);
    border: 10px solid #f5c542;
    padding: 3rem;
    display: none;
    z-index: 999;
}

main .question-fries h4{
    font-size: 25px;
    line-height: 35px;
    font-weight: 500;
    font-style: italic;
}

main .question-fries p{
    margin-top: 4rem;
    font-size: 25px;
    font-weight: 500;
    font-style: italic;
    line-height: 40px;
}

main .question-fries .group-answers{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

main .question-fries .group-answers button{
    width: 40%;
    padding: 15px 0;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    background-color: #ff0000;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

main .question-fries .start-answer-group2{
    position: absolute;
    left: -26.5%;
    top: 20%;
}

main .question-fries .start-answer-group2 button{
    padding: 10px 1.5rem;
    font-size: 40px;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
}

main .question-fries .exit-button2{
    position: absolute;
    right: 25px;
    top: 10px;
}

main .question-fries .exit-button2 button{
    font-size: 40px;
    background: none;
    border: none;
    cursor: pointer;
}

/* cokefloat */

main .question-cokefloat{
    position: absolute;
    width: 590px;
    /* height: 400px; */
    background-color: white;
    top: 110%;
    left: 52%;
    transform: translate(-50%,-50%);
    border: 10px solid #f5c542;
    padding: 3rem;
    display: none;
    z-index: 999;
}

main .question-cokefloat h4{
    font-size: 25px;
    line-height: 35px;
    font-weight: 500;
    font-style: italic;
}

main .question-cokefloat p{
    margin-top: 4rem;
    font-size: 25px;
    font-weight: 500;
    font-style: italic;
    line-height: 40px;
}

main .question-cokefloat .group-answers{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

main .question-cokefloat .group-answers button{
    width: 40%;
    padding: 15px 0;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    background-color: #ff0000;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

main .question-cokefloat .start-answer-group3{
    position: absolute;
    left: -26.5%;
    top: 20%;
}

main .question-cokefloat .start-answer-group3 button{
    padding: 10px 1.5rem;
    font-size: 40px;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
}

main .question-cokefloat .exit-button3{
    position: absolute;
    right: 25px;
    top: 10px;
}

main .question-cokefloat .exit-button3 button{
    font-size: 40px;
    background: none;
    border: none;
    cursor: pointer;
}

/* burger w/fries */

main .question-burgerFries{
    position: absolute;
    width: 590px;
    /* height: 400px; */
    background-color: white;
    top: 110%;
    left: 52%;
    transform: translate(-50%,-50%);
    border: 10px solid #f5c542;
    padding: 3rem;
    display: none;
    z-index: 999;
}

main .question-burgerFries h4{
    font-size: 25px;
    line-height: 35px;
    font-weight: 500;
    font-style: italic;
}

main .question-burgerFries p{
    margin-top: 4rem;
    font-size: 25px;
    font-weight: 500;
    font-style: italic;
    line-height: 40px;
}

main .question-burgerFries .group-answers{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

main .question-burgerFries .group-answers button{
    width: 40%;
    padding: 15px 0;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    background-color: #ff0000;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

main .question-burgerFries .start-answer-group4{
    position: absolute;
    left: -26.5%;
    top: 20%;
}

main .question-burgerFries .start-answer-group4 button{
    padding: 10px 1.5rem;
    font-size: 40px;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
}

main .question-burgerFries .exit-button4{
    position: absolute;
    right: 25px;
    top: 10px;
}

main .question-burgerFries .exit-button4 button{
    font-size: 40px;
    background: none;
    border: none;
    cursor: pointer;
}

/* spaghetti */

main .question-spaghetti{
    position: absolute;
    width: 590px;
    /* height: 400px; */
    background-color: white;
    top: 110%;
    left: 52%;
    transform: translate(-50%,-50%);
    border: 10px solid #f5c542;
    padding: 3rem;
    display: none;
    z-index: 999;
}

main .question-spaghetti h4{
    font-size: 25px;
    line-height: 35px;
    font-weight: 500;
    font-style: italic;
}

main .question-spaghetti p{
    margin-top: 4rem;
    font-size: 25px;
    font-weight: 500;
    font-style: italic;
    line-height: 40px;
}

main .question-spaghetti .group-answers{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

main .question-spaghetti .group-answers button{
    width: 40%;
    padding: 15px 0;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    background-color: #ff0000;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

main .question-spaghetti .start-answer-group5{
    position: absolute;
    left: -26.5%;
    top: 20%;
}

main .question-spaghetti .start-answer-group5 button{
    padding: 10px 1.5rem;
    font-size: 40px;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
}

main .question-spaghetti .exit-button5{
    position: absolute;
    right: 25px;
    top: 10px;
}

main .question-spaghetti .exit-button5 button{
    font-size: 40px;
    background: none;
    border: none;
    cursor: pointer;
}

/* peach mango pie */

main .question-peach-mango{
    position: absolute;
    width: 590px;
    /* height: 400px; */
    background-color: white;
    top: 110%;
    left: 52%;
    transform: translate(-50%,-50%);
    border: 10px solid #f5c542;
    padding: 3rem;
    display: none;
    z-index: 999;
}

main .question-peach-mango h4{
    font-size: 25px;
    line-height: 35px;
    font-weight: 500;
    font-style: italic;
}

main .question-peach-mango p{
    margin-top: 4rem;
    font-size: 25px;
    font-weight: 500;
    font-style: italic;
    line-height: 40px;
}

main .question-peach-mango .group-answers{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

main .question-peach-mango .group-answers button{
    width: 40%;
    padding: 15px 0;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    background-color: #ff0000;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

main .question-peach-mango .start-answer-group6{
    position: absolute;
    left: -26.5%;
    top: 20%;
}

main .question-peach-mango .start-answer-group6 button{
    padding: 10px 1.5rem;
    font-size: 40px;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
}

main .question-peach-mango .exit-button6{
    position: absolute;
    right: 25px;
    top: 10px;
}

main .question-peach-mango .exit-button6 button{
    font-size: 40px;
    background: none;
    border: none;
    cursor: pointer;
}


