@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@400..900&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Sekuya&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Montserrat", sans-serif;
    /* overflow: hidden; */
}

.body {
    height: 100vh;
    background-image: url('../images/jollibeeBg2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* background-image: none;
    background: transparent; */
}

/* 1st flow */

main {
    position: relative;
}

main .start-button {
    position: absolute;
    right: 20rem;
    top: 25rem;
    padding: 13px 40px;
    background-color: #ffb82e;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 28px;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    font-size: 23px;
    cursor: pointer;
    display: block;
}

main .start-button:hover {
    transform: scale(1.1);
    transition: all .4s ease-out;
}

/* 2nd flow */

main .mechanics{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    display: none;
    overflow: hidden;
}

main .image-mechanics{
    margin-left: 3rem;
}

main .image-mechanics img{
    width: 510px;
    height: 510px;
}

main .mechanics .text-mechanics{
    color: white;
    margin-right: 3rem;
}

main .mechanics .text-mechanics h2{
    font-size: 50px;
}

main .mechanics .text-mechanics p{
    font-size: 23px;
    width: 580px;
    text-align: justify;
    line-height: 38px;
    margin-top: 1.5rem;
    font-style: italic;
}

main .mechanics .text-mechanics .mechanics-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

main .mechanics .text-mechanics .play-button{
    padding: 13px 40px;
    background-color: #ffb82e;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 28px;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    font-size: 23px;
    cursor: pointer;
}

main .mechanics .text-mechanics .play-button:hover{
    transform: scale(1.1);
    transition: all .4s ease-out;
}

/* 3rd flow */

main .get-orders button{
    position: absolute;
    right: 22rem;
    top: 13rem;
    padding: 15px 30px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #ff0000;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border: none;
    font-weight: bold;
    border-radius: 7px;
    font-size: 15px;
    position: absolute;
    display: none;
}

main .get-orders button:hover{
    text-decoration: underline;
}

main .cashier{
    display: none;
}

main .cashier .order{
    /* background-color: white; */
    width: 150px;
    height: 150px;
    color: black;
    text-transform: uppercase;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 18rem;
    top: 9.5rem;
    transform: rotate(1deg);
}

main .cashier .prepare-order{
    padding: 15px 30px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #ff0000;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border: none;
    font-weight: bold;
    border-radius: 7px;
    font-size: 15px;
    position: absolute;
    right: 5rem;
    top: 21rem;
}

main .cashier .prepare-order:hover{
    text-decoration: underline;
}
